body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
}

.container {
    width: 420px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: green;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: green;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
}
